<!doctype html>
<title>{% block title %} Welcome {% endblock %} | ProxyList</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>ProxyList</h1>
  <div class="navigation">
    <a href="{{ url_for('public_index') }}">Public proxies</a> |
    <a href="{{ url_for('top_proxies', number=50) }}">GET Top50</a> |
    <a href="{{ url_for('top_proxies', number=100) }}">GET Top100</a>
  </div>

  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="body">
  {% block body %}{% endblock %}
  </div>

  <div class="footer">
    ProxyList &mdash; A Flask Application
  </div>
</div>
