{% extends "layout.html" %}
{% block title %}
    {% if request.endpoint == 'public_index' %}
        Public Proxies
    {% else %}
        Invalid sPATH
    {% endif %}
{% endblock %}
{% block body %}
    <h2>{{ self.title() }}</h2>

    <div class="proxies" style="overflow-x:auto;">
        <table>
            <th>IP</th>
            <th>Port</th>
            <th>Provider</th>
            <th>Added</th>
            <th>Checked</th>
            <th>Anonymity</th>
            <tr>
                {# Pagination object #}
                {% for proxy in proxies.items %}
                    <td class="proxy">{{ proxy.ip }}</td>
                    <td class="proxy">{{ proxy.port }}</td>
                    <td class="proxy">{{ proxy.provider }}</td>
                    <td class="proxy">{{ proxy.pub_date | datetimeformat }}</td>
                    <td class="proxy">{{ proxy.check_date | datetimeformat }}</td>
                    <td class="proxy">{{ proxy.anonymity_level | anonymityformat }}</td>
                    </tr>
                {% else %}
                    <td colspan="6">No proxies so far</td>
                    </tr>
                {% endfor %}
        </table>
        {% if proxies.has_prev %}<a href="{{ url_for('public_index', page=proxies.prev_num) }}">&lt;&lt; Next</a>
        {% else %}&lt;&lt; Next{% endif %} |
        {% if proxies.has_next %}<a href="{{ url_for('public_index', page=proxies.next_num) }}"> Previous &gt;&gt;</a>
        {% else %} Previous &gt;&gt;{% endif %}
    </div>

    {#  <h2>Latest News</h2>#}
    {#  <ul class="messages">#}
    {#  {% for message in messages %}#}
    {#    <li><img src="{{ message.email }}"><p>#}
    {#      <strong><a href="{{ url_for('user_timeline', username=message.username)#}
    {#      }}">{{ message.username }}</a></strong>#}
    {#      {{ message.text }}#}
    {#      <small>&mdash; {{ message.pub_date | datetimeformat }}</small>#}
    {#    {% else %}#}
    {#      <li><em>No news so far</em>#}
    {#  {% endfor %}#}
    {#  </ul>#}

{% endblock %}
